/* *{
    background-color: green; 
} ejercicio 1 */

/* p{
    background-color: green;
} ejercicio 2 */

/* #title-1{
    background-color: green;
} ejercicio 3*/

/* .bg-yellow{
    background-color: green;
} ejercicio 4*/

/* [id]{
    background-color: green;
} ejercicio 5 */

/* [href="https://www.yahoo.com"]{
    background-color: green;
} ejercicio 6 */

/* [class^="title"]{
    background-color: green;
} ejercicio 7*/

/* [id^="title-"]{
    background-color: green;
} ejercicio 6*/
