* {
    background-color: bisque;
}

h1 {
    color: red;
    display:inline; 
}
h1:hover{

    color: aqua;

}

p {
    column-count: 3;
    column-gap: 40px;
    column-rule: solid 2px red;
}

p::selection {
    background-color: purple;
    color: white;
}